# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- main

pool:
  MyAgent

stages:

- stage: DeployToTest
  jobs:
  - job: DeployToTest
    steps:
    - checkout: self
      fetchDepth: 0

    - task: SonarCloudPrepare@1
      inputs:
        SonarCloud: 'SonarCloud'
        organization: 'amoolekan'
        scannerMode: 'Other'
        extraProperties: |
          # Additional properties that will be passed to the scanner, 
          # Put one key=value per line, example:
          # sonar.exclusions=**/*.bin
          sonar.projectKey=amoolekan_MyWork
          sonar.projectName=MyWork
       
    - task: Maven@4
      inputs:
        mavenPomFile: 'pom.xml'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: '1.11'
        mavenVersionOption: 'Default'
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: true
        sqMavenPluginVersionChoice: 'latest'

    - task: SonarCloudPublish@1
      inputs:
        pollingTimeoutSec: '300'  

    - task: CopyFiles@2
      inputs:
         SourceFolder: '$(Build.SourcesDirectory)'
         Contents: '**/*.war'
         TargetFolder: '$(Build.ArtifactStagingDirectory)'

    - task: CmdLine@2
      inputs:
        script: ren $(Build.Artifactstagingdirectory)\target\mylab-1.0-SNAPSHOT.war 
                    Test2.war

    - task: CopyFilesOverSSH@0
      inputs:
         sshEndpoint: 'Tomcat_Server'
         sourceFolder: '$(Build.ArtifactStagingDirectory)'
         contents: '**/*.war'
         targetFolder: '/opt/tomcat/latest/webapps'
         readyTimeout: '20000'
         flattenFolders: true
         
    - task: SSH@0
      inputs:
         sshEndpoint: 'Tomcat_Server'
         runOptions: 'commands'
         commands: 'sudo systemctl stop tomcat;sudo systemctl start tomcat'
         readyTimeout: '20000'


- stage: ApprovalToDeployLive
  jobs:
  - job: ApprovalToDeployLive
    displayName: Wait for external validation
    pool: server
    timeoutInMinutes: 4320 # job times out in 3 days
    steps:
    - task: ManualValidation@0
      timeoutInMinutes: 1440 # task times out in 1 day
      inputs:
        notifyUsers: |
         amoolekan@outlook.com
        instructions: 'Please validate the build configuration and resume'
        onTimeout: 'resume'
         
- stage: DeployToLive
  jobs:
  - job: DeployToLive
    steps:
    - task: Maven@3
      inputs:
         mavenPomFile: 'pom.xml'
         mavenOptions: '-Xmx3072m'
         javaHomeOption: 'JDKVersion'
         jdkVersionOption: '1.8'
         jdkArchitectureOption: 'x64'
         publishJUnitResults: true
         testResultsFiles: '**/surefire-reports/TEST-*.xml'
         goals: 'package'
    - task: CopyFiles@2
      inputs:
         SourceFolder: '$(Build.SourcesDirectory)'
         Contents: '**/*.war'
         TargetFolder: '$(Build.ArtifactStagingDirectory)'
    - task: CmdLine@2
      inputs:
        script: ren $(Build.Artifactstagingdirectory)\target\mylab-1.0-SNAPSHOT.war 
                    Live2.war
    - task: CopyFilesOverSSH@0
      inputs:
         sshEndpoint: 'Tomcat_Server'
         sourceFolder: '$(Build.ArtifactStagingDirectory)'
         contents: '**/*.war'
         targetFolder: '/opt/tomcat/latest/webapps'
         readyTimeout: '20000'
         flattenFolders: true
    - task: SSH@0
      inputs:
        sshEndpoint: 'Tomcat_Server'
        runOptions: 'commands'
        commands: |
            sudo systemctl stop tomcat
            sudo systemctl start tomcat
        readyTimeout: '20000'

    - task: PublishBuildArtifacts@1
      inputs:
         PathtoPublish: '$(Build.ArtifactStagingDirectory)'
         ArtifactName: 'drop'
         publishLocation: 'Container'